@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeeded;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@keyframes wheels {
  0% {
    transform-origin: bottom;
    transform: translateX(0%);
    transform: rotate(2deg) scaleY(0.97) translateY(-4%);
  }
  100% {
    transform-origin: bottom;
    transform: translateY(4%);
    transform: rotate(-4deg) scale(1) translateX(2%);
  }
}
